In [2]:
import pandas as pd
import requests

def listar_opcoes(ativo_objeto, vencimento):
    url = f'https://opcoes.net.br/listaopcoes/completa?idAcao={ativo_objeto}&listarVencimentos=false&cotacoes=true&vencimentos={vencimento}'
    r = requests.get(url).json()
    l = [[ativo_objeto, vencimento, i[0].split('_')[0], i[2], i[3], i[5], i[8]] for i in r['data']['cotacoesOpcoes']]
    return pd.DataFrame(l, columns=['ativo_objeto', 'vencimento', 'ticker', 'tipo', 'modelo', 'strike', 'preco'])

listar_opcoes('USIM5', '2023-04-20')

    ativo_objeto  vencimento    ticker  tipo modelo  strike  preco
0          USIM5  2023-04-20   USIMD12  CALL      A   12.37   0.01
1          USIM5  2023-04-20  USIMD100  CALL      A   10.87   0.02
2          USIM5  2023-04-20  USIMD103  CALL      A   10.37   0.01
3          USIM5  2023-04-20  USIMD110  CALL      A   11.87    NaN
4          USIM5  2023-04-20  USIMD115  CALL      E   19.12    NaN
..           ...         ...       ...   ...    ...     ...    ...
135        USIM5  2023-04-20  USIMP937   PUT      E    9.37   2.57
136        USIM5  2023-04-20  USIMP947   PUT      E    9.47   2.35
137        USIM5  2023-04-20  USIMP967   PUT      E    9.67   2.52
138        USIM5  2023-04-20  USIMP977   PUT      E    9.77   2.67
139        USIM5  2023-04-20  USIMP987   PUT      E    9.87   2.88

[140 rows x 7 columns]

In [3]:

def listar_tudo(ativo_objeto):
    url = f'https://opcoes.net.br/listaopcoes/completa?idAcao={ativo_objeto}&listarVencimentos=True&cotacoes=true'
    r = requests.get(url).json()
    vencimentos = [i['value'] for i in r['data']['vencimentos']]
    df = pd.concat([listar_opcoes(ativo_objeto, vencimento) for vencimento in vencimentos])
    return df

listar_tudo('PETR4')

   ativo_objeto  vencimento    ticker  tipo modelo  strike  preco
0         PETR4  2023-04-20    PETRD4  CALL      A   45.00   0.01
1         PETR4  2023-04-20   PETRD24  CALL      A   14.51   8.95
2         PETR4  2023-04-20   PETRD29  CALL      A   20.01   3.78
3         PETR4  2023-04-20   PETRD30  CALL      A    8.01  15.00
4         PETR4  2023-04-20   PETRD36  CALL      A   27.01   0.18
..          ...         ...       ...   ...    ...     ...    ...
25        PETR4  2024-12-20  PETRX698   PUT      E   43.00  10.27
0         PETR4  2025-01-17   PETRA30  CALL      E   30.25   3.60
1         PETR4  2025-01-17   PETRM30   PUT      E   30.25   5.65
0         PETR4  2025-03-21  PETRC302  CALL      E   30.25   4.93
1         PETR4  2025-03-21  PETRO302   PUT      E   30.25   5.98

[1150 rows x 7 columns]