In [2]:
import pandas as pd
import requests

def listar_opcoes(ativo_objeto, vencimento):
    url = f'https://opcoes.net.br/listaopcoes/completa?idAcao={ativo_objeto}&listarVencimentos=false&cotacoes=true&vencimentos={vencimento}'
    r = requests.get(url).json()
    l = [[ativo_objeto, vencimento, i[0].split('_')[0], i[2], i[3], i[4], i[5], i[8]] for i in r['data']['cotacoesOpcoes']]
    return pd.DataFrame(l, columns=['ativo_objeto', 'vencimento', 'ticker', 'tipo', 'modelo', 'O/A/ITM', 'strike', 'preco'])

listar_opcoes('PETR4', '2023-04-20')

    ativo_objeto  vencimento    ticker  tipo modelo O/A/ITM  strike  preco
0          PETR4  2023-04-20    PETRD4  CALL      A     OTM   45.00   0.01
1          PETR4  2023-04-20   PETRD24  CALL      A     ITM   14.51   8.95
2          PETR4  2023-04-20   PETRD29  CALL      A     ITM   20.01   3.78
3          PETR4  2023-04-20   PETRD30  CALL      A     ITM    8.01  15.00
4          PETR4  2023-04-20   PETRD36  CALL      A     OTM   27.01   0.18
..           ...         ...       ...   ...    ...     ...     ...    ...
217        PETR4  2023-04-20  PETRP520   PUT      E     ITM   52.00  28.40
218        PETR4  2023-04-20  PETRP530   PUT      E     ITM   53.00  29.08
219        PETR4  2023-04-20  PETRP739   PUT      E     OTM    3.91   0.01
220        PETR4  2023-04-20  PETRP770   PUT      E     OTM    7.01   0.01
221        PETR4  2023-04-20  PETRP788   PUT      E     OTM    8.81    NaN

[222 rows x 8 columns]

In [3]:

def listar_tudo(ativo_objeto):
    url = f'https://opcoes.net.br/listaopcoes/completa?idAcao={ativo_objeto}&listarVencimentos=True&cotacoes=true'
    r = requests.get(url).json()
    vencimentos = [i['value'] for i in r['data']['vencimentos']]
    df = pd.concat([listar_opcoes(ativo_objeto, vencimento) for vencimento in vencimentos])
    return df

listar_tudo('PETR4')

   ativo_objeto  vencimento    ticker  tipo modelo O/A/ITM  strike  preco
0         PETR4  2023-04-20    PETRD4  CALL      A     OTM   45.00   0.01
1         PETR4  2023-04-20   PETRD24  CALL      A     ITM   14.51   8.95
2         PETR4  2023-04-20   PETRD29  CALL      A     ITM   20.01   3.78
3         PETR4  2023-04-20   PETRD30  CALL      A     ITM    8.01  15.00
4         PETR4  2023-04-20   PETRD36  CALL      A     OTM   27.01   0.18
..          ...         ...       ...   ...    ...     ...     ...    ...
25        PETR4  2024-12-20  PETRX698   PUT      E     ITM   43.00  10.27
0         PETR4  2025-01-17   PETRA30  CALL      E     OTM   30.25   3.60
1         PETR4  2025-01-17   PETRM30   PUT      E     ITM   30.25   5.65
0         PETR4  2025-03-21  PETRC302  CALL      E     OTM   30.25   4.93
1         PETR4  2025-03-21  PETRO302   PUT      E     ITM   30.25   5.98

[1150 rows x 8 columns]